.wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.gallery{
    width: 250px;
    height: 220px;
    left: 40px;
    top: 40px;
    background: #C4C4C4;
    padding: 10px;
    margin: 10px;
}
.gallery_box1{
    width: 189px;
    height: 120px;
    left: 71px;
    top: 62px;
    background: #DDDDDD;
    text-align: center;
}
.gallery_box2{
    width: 139px;
    height: 24px;
    left: 71px;
    top: 189px;
    background: #DDDDDD;
    margin-top: 10px;
}
.gallery_box3{
    width: 188px;
    height: 24px;
    left: 71px;
    top: 208px;
    background: #BB0000;
    margin-top: 10px;
}

.menu{
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    background-color: #c8cbda;
}
.nav ul {
    list-style: none;
    display: flex;
} 
.nav {
    display: grid;
    grid-template-columns: 6fr 6fr;
    align-items: center;
    width:100%;
    margin: auto;
}
li, a, button {
    font-size: 16px;
    font-weight: 500;
    color: #7c898d;
    padding: 5px;
}
button {
    padding: 9px 25px;
    background-color: blue;
    border: none;
    border-radius: 50px;
}
button:hover{
    background-color: rgb(60, 60, 207);
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
}
.grid-container {
    margin: 10px;
    border: 1px solid silver;
}
.grid-item {
    background-color:rgb(165, 162, 150);
    font-size: 50px;
    color: #4e575a;
    margin: 5px;
}
.item-4{
    grid-column-start: 1;
    grid-column-end: 3;
}
.item-5{
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
.item-6{
    grid-column-start: 1;
    grid-column-end: 3;
}
