@import url('/podcast120422/styles/normalize.css')

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: white;
}

p, h1 {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.header {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.wrapper {
    margin: 0 auto;
    max-width: 1192px;
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__image {
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #A248D9;
    width: 49px;
    height: 49px;
    margin-right: 18px;
}

.logo__text {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.05em;
}

.header__right-box {
    display: flex;
}

.header__nav {
    margin-right: 53px;
}

.header__nav-list {
    display: flex;
    align-items: center;
}

.header__nav-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    opacity: 0.8;
    margin-right: 50px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__button {
    background: transparent;
    padding: 9px 36px;
    border: 1px solid;
    border-radius: 30px;
    box-sizing: border-box;
    color: white;
}

.everyday {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.custom-box {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
}

.dot {
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    margin: 0 18px;
}

.custom-box__title {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.15em;
}

.everyday__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 66px;
    line-height: 70px;
    letter-spacing: 0.03em;
    width: 650px;
}

.everyday__left-box-subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    opacity: 0.7;
    height: 78px;
    margin-top: 17px;
}

.everyday__left-box-button {
    display: flex;
    align-items: center;
}

.everyday__left-box-button > button {
    padding: 13px 30px;
}

.everyday__left-box-button > button:nth-child(1) {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.03em;
    background: linear-gradient(265.37deg, #9224D6 -49.74%, #BD87DE 116.53%);
    border-radius: 30px;
    color: white;
    margin-right: 8px;
    border: none;
}

.everyday__left-box-button > button:nth-child(2) {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.03em;
    background: transparent;
    border-radius: 30px;
    color: white;
    border: 1px solid #FFFFFF;
}

.everyday__right-box {
    display: flex;
}

.everyday__right-box-wrapper-1 {
    /* margin-right: 21px; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.everyday__custom-block-1 {
    border-radius: 30px 30px 0px 30px;
    margin-top: 40px;
    width: 266px;
    height: 252px;
    background: url(../img/image4.png);
    
}

.everyday__custom-block-1, 
.everyday__custom-block-3 {
    /* margin-right: 21px; */
}

.everyday__custom-block-2 {
    border-radius: 30px 0px 30px 30px;
    width: 203px;
    height: 193px;
    background: url(../img/image2.png);
}

.everyday__custom-block-3 {
    border-radius: 30px 30px 30px 0px;
    width: 165px;
    height: 164px;
    background: url(../img/image1.png);
}


.everyday__custom-block-4 {
    border-radius: 0px 30px 30px 30px;
    width: 266px;
    height: 252px;
    background: url(../img/image3.png);
}

.latest-episodes {
    width: 100%;
}

.latest-episodes__list-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: ;
}

.latest-episodes__title {

}