@import url('/podcast120422/styles/normalize.css')

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: white;
}

p, h1 {
    margin: 0;
}

.header {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

ul

.wrapper {
    margin: 0 auto;
    max-width: 1192px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__image {
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    width: 49px;
    height: 49px;
}


